* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: rgb(228, 54, 135);
  --accent-color: rgb(62, 93, 228);
  --text-color: rgb(40, 40, 40);
  --bg-color: rgb(240, 240, 243);
  --card-bg-color: rgb(252, 252, 252);
  --shadow-color: rgba(0, 0, 0, 0.1);

  --page-padding-horizontal: 4rem;
}

html,
body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  font-kerning: normal;
  font-feature-settings: 'kern';
}

ul,
ol {
  margin-left: 2em;
}

li {
  padding: 0.3em 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
video:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.7em;
    --page-padding-horizontal: 1rem;
  }
}
